streamlit
numpy==1.26.4
pandas
pyarrow==12.0.1
altair
attrs
bcrypt==3.2.2
blinker
cachetools
captcha
certifi
charset-normalizer
click
colorama
et-xmlfile
extra-streamlit-components
gitdb
GitPython
greenlet==2.0.2
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
openpyxl
packaging
pillow
plotly
protobuf
pydeck
Pygments
PyJWT
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
six
smmap
SQLAlchemy
streamlit-authenticator
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
